/* Style for the form container */
.form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
  }
  /* Style for form groups */
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Style for labels */
  .left-section .form-group label {
    flex: 0 0 180px; /* Fixed width for labels */
    margin-right: 10px;
    color: #666;
    font-weight: bold;
  }
  
  /* Style for inputs */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="number"] {
    flex: 1;
    padding: 3px;
    border: 1px solid #ccc;
    max-width: 50%;
    margin-right: 10px;
    text-align: center;
  }
  
  /* Style for radio buttons */
  .form-group input[type="radio"] {
  }
  
  /* Style for left section */
  .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 20px;
  }
  
  /* Style for submit button */
  .btn-submit {
    margin-top: 20px;
    background-color: #6344DE;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #5D3FD3;
  }
  
  /* Style for submit button container */
  .submit-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  /* Style for right section */
  .right-section {
    width: 50%;
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 200px; /* Add margin to create space between left and right sections */
  }
  
  
  /* Style for form groups in the right section */
  .right-section .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  /* Style for labels in the right section */
  .right-section .form-group label {
    flex: 0 0 150px; /* Fixed width for labels */
    margin-right: 10px;
    color: #666;
    font-weight: bold;
  }
  
  .right-section .form-group input {
    max-width: 70%;
    text-align: center;
  }
  
  /* Style for select dropdowns */
  .right-section select {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ensure dropdowns fill the available space */
    max-width: 70%;
    text-align: center;
  }
  
  .left-section select {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ensure dropdowns fill the available space */
    max-width: 50%;
    text-align: center;
  }
  
  .form-last-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    flex-direction: column;
  }

  .section {
    display: flex;
  }

  .medication{
    margin-left : 42px;
  }

  .medication textarea{
    resize: horizontal;
    border: 1px solid #ccc;
    width: 86%;
  }